<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>

  </system.web>
  <system.webserver>
  <rewrite>
  <rules>
    <rule name="Rewrite to index.html">
      <match url=".*" />
      <action type="Rewrite" url="index.html" />
    </rule>
  </rules>
</rewrite>
  </system.webserver>
</configuration>